@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
  font-display: swap; }
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
  font-display: swap; }
@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf");
  font-display: swap; }
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-display: swap; }
@font-face {
  font-family: "Roboto-Medium";
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-display: swap; }
@font-face {
  font-family: "Roboto-Regulyar";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-display: swap; }
@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
  font-display: swap; }
@font-face {
  font-family: "Roboto-li";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
  font-display: swap; }
.font-robo-l {
  font-family: "Montserrat-li",sans-serif; }

.font-Montserrat-Bold {
  font-family: "Montserrat-Bold",sans-serif; }

.font-Montserrat-Medium {
  font-family: "Montserrat-Medium",sans-serif; }

.font-Roboto-Black {
  font-family: "Roboto-Black", sans-serif; }

.font-Roboto-Bold {
  font-family: "Roboto-Bold", sans-serif; }

.font-Roboto-Medium {
  font-family: "Roboto-Medium", sans-serif; }

.font-Roboto-Regulyar {
  font-family: "Roboto-Regulyar", sans-serif; }

.font-Roboto-Thin {
  font-family: "Roboto-Thin", sans-serif; }

body {
  background: #FAFAFA; }

#navbar .wrapper {
  background: url("../assets/images/Nature.png") no-repeat;
  padding-bottom: 146px; }
  #navbar .wrapper .nav .logo {
    width: 120px;
    height: 80px;
    background: url("../assets/icons/Travel.svg") no-repeat; }
  #navbar .wrapper .nav ul {
    gap: 30px;
    margin-top: 22px; }
    #navbar .wrapper .nav ul li {
      height: 46px;
      list-style: none; }
      #navbar .wrapper .nav ul li .ikki {
        width: 100%;
        height: 5px;
        background: #F58726;
        margin-top: 12px;
        display: none; }
      #navbar .wrapper .nav ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #1A005C;
        text-decoration: none; }
      #navbar .wrapper .nav ul li:hover .ikki {
        display: block; }
  #navbar .wrapper .nav-padding {
    padding: 61px 114px 61px 96px; }
  #navbar .wrapper h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #1A005C;
    margin: 136px 0 22px 0; }
  #navbar .wrapper p {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-bottom: 79px; }
  #navbar .wrapper button {
    height: 80px;
    width: 300px;
    border-radius: 50px;
    color: white;
    background: #1A005C;
    display: block;
    margin-left: auto;
    margin-right: auto; }
#navbar .bg-hr {
  margin-top: -5px;
  width: 100%;
  height: 25px;
  background: #F58726;
  margin-bottom: 85px; }

#Laziz .container {
  width: 80%; }
  #Laziz .container h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #1A005C;
    margin-bottom: 0; }
  #Laziz .container h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    color: #F58726;
    margin: 15px 0 50px; }
  #Laziz .container .card {
    background: #FFFFFF;
    border-radius: 25px;
    margin-bottom: 40px; }
    #Laziz .container .card:hover {
      box-shadow: 0px 0px 20px 15px rgba(26, 0, 92, 0.1);
      transition: 0.4s; }
    #Laziz .container .card h4 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin: 0;
      padding: 6px 0 6px 25px; }
    #Laziz .container .card p {
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin: 0;
      padding: 6px 9px 31px 25px; }
    #Laziz .container .card .Antalya {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #Laziz .container .card .Antalya .gps {
        display: flex;
        align-items: center; }
        #Laziz .container .card .Antalya .gps img {
          padding: 0 10px 28px 25px; }
        #Laziz .container .card .Antalya .gps h6 {
          font-size: 14px;
          color: #000000;
          padding-bottom: 30px;
          margin: 0;
          font-weight: 300; }
      #Laziz .container .card .Antalya .dollor {
        display: flex;
        align-items: center; }
        #Laziz .container .card .Antalya .dollor img {
          padding: 0 10px 28px 25px; }
        #Laziz .container .card .Antalya .dollor h6 {
          font-size: 14px;
          color: #000000;
          padding-bottom: 30px;
          padding-right: 24px !important;
          margin: 0;
          font-weight: 300; }
  #Laziz .container .btn {
    display: flex;
    justify-content: center;
    padding-bottom: 90px; }
    #Laziz .container .btn .button {
      width: 249px;
      height: 65px;
      border-radius: 50px;
      background: #1A005C;
      color: white; }

#Dilshod .container .row {
  background-color: white;
  padding-top: 45px; }
  #Dilshod .container .row .col-6 {
    padding-left: 36px;
    padding-right: 26px; }
    #Dilshod .container .row .col-6 img {
      margin-bottom: 35px; }
    #Dilshod .container .row .col-6 h5 {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: #1A005C; }
    #Dilshod .container .row .col-6 p {
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #1A005C;
      padding-top: 15px; }
#Dilshod .container .p1 p {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #1A005C;
  padding-top: 15px; }
#Dilshod .container .p2 p {
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  color: #F58726; }

#umidjon h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #1A005C;
  margin: 80px 0 15px 0; }
#umidjon h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  color: #F58726;
  margin-bottom: 50px; }
#umidjon .box {
  max-width: 100%;
  height: 602px;
  background: #FFFFFF;
  box-shadow: -3px 3px 9px -5px #223c50; }
  #umidjon .box .box-item {
    padding: 15px 24px; }
    #umidjon .box .box-item p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      color: #838383;
      font-family: Roboto-Medium ,sans-serif;
      margin-top: 10px; }
    #umidjon .box .box-item h2 {
      font-family: Roboto-Medium ,sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      color: #1A005C;
      margin: 0; }

#map .container {
  margin-bottom: 102px; }
#map .map-img {
  position: relative; }
  #map .map-img .map-info {
    position: absolute;
    bottom: 6px;
    right: 0;
    width: 450px;
    background-color: #FFFFFF;
    border-radius: 15px 0px 0px 0px; }
    #map .map-img .map-info .map-info-body {
      display: flex;
      padding: 32px 0 0 40px; }
      #map .map-img .map-info .map-info-body .col {
        padding: 0; }
      #map .map-img .map-info .map-info-body p {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000; }
      #map .map-img .map-info .map-info-body a {
        display: block;
        margin-bottom: 10px;
        color: #000000; }
    #map .map-img .map-info .map-info-footer {
      padding: 20px 0 18px 40px;
      background-color: #1A005C; }
      #map .map-img .map-info .map-info-footer a {
        margin-right: 23px; }
  #map .map-img .map-img-box {
    width: 100%;
    height: 500px; }

#Orif .navbar-2 {
  background-color: #1A005C;
  padding-top: 25px;
  padding-bottom: 35px; }
  #Orif .navbar-2 .container {
    width: 100%; }
    #Orif .navbar-2 .container .row {
      background-color: white; }
    #Orif .navbar-2 .container .col-5 {
      width: 451px;
      height: 256px;
      margin-bottom: 103px;
      margin-top: 56px; }
      #Orif .navbar-2 .container .col-5 .first-card .first-action-1 {
        margin-bottom: 26px; }
      #Orif .navbar-2 .container .col-5 .first-card .first-logo {
        margin-left: 28px;
        width: 119.02px;
        height: 80px; }
      #Orif .navbar-2 .container .col-5 .first-card .first-text {
        margin-left: 10.98px;
        margin-top: 9px; }
        #Orif .navbar-2 .container .col-5 .first-card .first-text h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #1A005C;
          margin: 0px;
          width: 321px;
          height: 27px; }
        #Orif .navbar-2 .container .col-5 .first-card .first-text h2 {
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
          color: #F58726;
          margin: 0px;
          width: 196px;
          height: 44px; }
      #Orif .navbar-2 .container .col-5 .first-card p {
        width: 443px;
        height: 150px;
        margin-left: 28px; }
    #Orif .navbar-2 .container .col-3 {
      margin-top: 65px;
      margin-bottom: 154.64px; }
      #Orif .navbar-2 .container .col-3 .second-card {
        text-align: center; }
        #Orif .navbar-2 .container .col-3 .second-card li {
          margin-bottom: 16px; }
          #Orif .navbar-2 .container .col-3 .second-card li a {
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #000000; }
    #Orif .navbar-2 .container .col-4 {
      margin-top: 65px;
      margin-bottom: 121px; }
      #Orif .navbar-2 .container .col-4 .third-card .pochta {
        margin: 0px; }
      #Orif .navbar-2 .container .col-4 .third-card .pochta-icon {
        height: 24px;
        width: 24px;
        margin-bottom: 26px; }
      #Orif .navbar-2 .container .col-4 .third-card .number {
        margin: 0px; }
        #Orif .navbar-2 .container .col-4 .third-card .number .number-icon {
          height: 24px;
          width: 24px;
          margin-bottom: 24px; }
      #Orif .navbar-2 .container .col-4 .third-card .location .location-icon {
        width: 24px;
        height: 24px; }
      #Orif .navbar-2 .container .col-4 .third-card .location a {
        margin-left: 14px;
        margin-bottom: 35px; }
      #Orif .navbar-2 .container .col-4 .third-card .third-icons {
        width: 50%; }
#Orif .card {
  width: 100%;
  height: 25px;
  background-color: #F58726; }
  #Orif .card p {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 6px;
    padding-bottom: 5px;
    box-sizing: border-box; }
#Orif .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1A005C; }
#Orif .text1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-right: 40px;
  box-sizing: border-box; }
#Orif .text3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 16px;
  color: #1A005C; }
#Orif .text-4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 19px;
  color: #1A005C; }
#Orif .padding {
  padding-left: 14px;
  margin-bottom: 22px; }
#Orif .padding-2 {
  margin-top: 8px;
  margin-bottom: 12px; }

/*# sourceMappingURL=main.css.map */
